*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.message{
    font-size: 100px;
}

.button{
    font-size: 50px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: #f0f0f0;
    cursor: pointer;
}